body{
    background-color: white;
}

#viwe{
    width: 100%;
    margin-top: 12%;
    display: flex;
    border-top: 2px solid #dadbe6;
}

#filter{
    position: relative;
    width: 25%;
    background: rgb(255, 255, 255);
    /* border: 1px solid #dadbe6; */
}
#list{
    margin-left: 20px;
}
#hr1{
    border:none;
    margin-top: -2px;
    width: 1px;
    background-color:#dadbe6;
}
#hr2{
    border:none;
    height: 2px;
    margin-left: -20px;
    background-color:#dadbe6;
}

#hr3{
    border:none;
    height: 1px;
    margin-right: 15px;
    margin-top: 20px;
    background-color:#dadbe6;
}

#chekimg{
    display:flex;
    text-align: center;
    justify-content: start;
    margin-left: 10px;
    margin-top: 10px;
    width: 70%;
}
#chekimg>span{
    margin-top: 12px;
    line-height: 0px;
    margin-left:15%;
    font-size: 15px;
}
#chekimg>span:hover,.activewear:hover{
    color:#00a8ca;
    cursor:pointer;
}
#chekimg>img{
    width: 90%;
    height: 5%;
    margin-left:15%;
}

ul{
    list-style-type: none;
    font-size:18px;
}
ul>div{
    background-color:#f0f1f7;
    margin-right: 10px;
    margin-top: 30px;
    padding: 5%;
    font-size: 13px;
    font-weight: 50;
}
#chekimg{
    display:flex;
    justify-content: start;
}

.Activewear{
    margin-top: 10px;
    margin-left: 10px;
}

.Activewear>ul{
    margin-top: 15px;
}

.activewear{
    font-size: 14px;
    margin-left: 9px;
    margin-top: 5px;
}

input[type=checkbox]:before {
    content: "";
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    height: 23px;
    width: 23px;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #202340;
}

input[type=checkbox]:checked:before {
    content: "";
    display: inline-block;
    position: absolute;
    height: 23px;
    width: 23px;
    color: white;
    border-radius: 2px;
    border: 1px solid #202340;
    background-color: #202340;
}
input[type=checkbox]:checked:after {
    content: "";
    display: inline-block;
    position: relative;
    top: 5px;
    left: 3px;
    height: 8px;
    width: 15px;
    border-left: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    transform: translateY(-2.5px) rotate(-40deg);
}
textarea{
    border-radius: 2px;
    margin-top: 20px;
    margin-right: 50px;
    font-size: 12px;
    font: normal Arial,Helvetica,sans-serif;
    border: 1px solid #202340;
    padding: 7px;
    width: 90%;
}
#prodect{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 600px;
    line-height: 20px;
    grid-gap: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
}

#pricediv{
    display:flex;
    justify-content:space-between;
    align-items: center;
    line-height: 20px;
    width: 30%;
}

#prodect>div{
    position: relative;
    width: 90%;
    background-color: rgb(255, 255, 255);
    height: auto;
    padding: 5%;
    border: 1px solid #dadbe6;
}

#prodect>div:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 15px;
}

#prodect>div>img{
    position:relative;
    width: 100%;
    height: 50%;
    margin-bottom: 50px;
}

#prodect>div>button{
    position: absolute;
    background-color:white;
    border: 1px solid #202340;
    padding: 5%;
    bottom: 20px;
    border-radius: 30px;
    font-weight: bolder;
    color: #202340 ;
}
#feedback{
    background-color:white;
    border: 1px solid #202340 ;
    padding: 5%;
    width: 70%;
    border-radius: 30px;
    font-weight: bolder;
    color: #202340 ;
    margin: 20px;
}

#prodect>div>button:hover,#feedback:hover{
    background-color: rgb(5, 0, 24);
    color: white;
}
#Afeedback{
    display:none;
}