#inner_container{
    display: flex;
    width: 80%;
    margin-top:15%;
}
#inner_container >div{
    width: 100%;
}
img{
    width: 70%;
    margin: auto;

}
div>p:nth-child(4){
    font-size: 50px;
    margin: 0px;
}
#inner_container >div:first-child{
    display: flex;
    margin: auto;
}
p+div{
    
    display: flex;
    margin-bottom: 10px;
}
p+div>img{
    width: 40%;
    margin: 0px;
}
div>img+p{
    font-size:x-large;
    /* border: 1px solid red; */
}
label{
    font-size:30px;
}
label+select{
    width: 80%;
    height: 40px;
    margin-bottom: 10px;
}
div>label+input{
    width: 10%;
    height: 40px;
    margin-bottom: 10px; 
}
select+div{
    border: 1px solid gray;
    padding-top: 10px;
    margin-bottom: 20px;
}
button{
    background-color:rgb(65,68,103);
    border-radius: 30px;
    width: 150px;
    height: 50px;
    margin-left: 50px;
    color: white;
}
/* @media only screen and (min-width:0px) and (max-width:720px){
    .inner_container{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
    }
    p+div>img{
        width: 40%;
    }
    div>img+p{
        font-size:large;
    }
} */